/* ------------------ Visually Hidden ------------------ */
.visually-hidden
{
    position:absolute;margin:-1px;padding:0;width:1px;min-width:auto;height:1px;min-height:auto;overflow:hidden;clip:rect(0,0,0,0);border:0;word-wrap:normal;
}





/* ------------------ Clearfix ------------------ */
.clearfix:before,
.clearfix:after
{
    content: " ";
    display: table;
}

.clearfix:after
{
    clear: both;
}





/* ------------------ Unlist ------------------ */
.unlist
{
    list-style: none;
    margin: 0;
    padding: 0;
}





/* ------------------ Active Area (AA) ------------------ */
.active-area
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    min-width: var(--active-area--width--md);
    min-height: var(--active-area--width--md);
}





/* ------------------ Start Here ------------------ */





/* ------------------ Main Header ------------------ */
.applicator--theme--main-header .main-header---cr
{
    position: relative;
}

.applicator--theme--main-header .main-header---cr
{
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    
    min-height: 7rem;
    
    padding-bottom: var(--component--spacing-y);
}

/* ------------ Main Info ------------ */
.applicator--theme--main-header .main-info
{
    position: relative;
    z-index: 1;
    
    flex: 1 100%;
}

.applicator--theme--main-header.main-logo--enabled .main-info---ct_cr
{
    position: relative;
}


/* ------------ Main Nav ------------ */
.applicator--theme--main-header .main-nav
{
    position: relative;
    z-index: 1;
    
    flex: 1 100%;
}

.applicator--theme--main-header .main-nav---cr
{
    background-color: transparent;
}

.applicator--theme--main-header.applicator--theme--main-nav .main-nav a
{
    color: white;
}

.applicator--theme--main-header .main-nav.sub-nav-func .children a,
.applicator--theme--main-header .main-nav.sub-nav-func .sub-menu a
{
    color: black;
}

.applicator--theme--main-header .widget-content---ct_cr > * > ul > li > .sub-nav-toggle .sub-nav-tog---b_l
{
    color: var(--sub-nav-func-branches--toggle-button--fg-color);
}

.applicator--theme--main-header .children .sub-nav-tog---b_l,
.applicator--theme--main-header .sub-menu .sub-nav-tog---b_l
{
    color: var(--sub-nav-func-branches--toggle-button--fg-color);
}

.applicator--theme--main-header .main-nav---ct_cr > .menu > ul
{
    justify-content: center;
}


/* ------------ Main Search ------------ */
.applicator--theme--main-header .main-search-func
{
    z-index: 1;
}


/* ------------ Main Media Banner ------------ */
.applicator--theme--main-header .main-media-banner---g
{
    position: relative;
    
    background-color: var(--image--bg-color);
    
    transform: scale( 1.1 );
}

.applicator--theme--main-header .main-media-banner---g::before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.5+100 */
    background: -moz-linear-gradient(top, hsla(0,0%,0%,1) 0%, hsla(0,0%,0%,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, hsla(0,0%,0%,1) 0%,hsla(0,0%,0%,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, hsla(0,0%,0%,1) 0%,hsla(0,0%,0%,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
    
    opacity: .5;
    
    transition: var(--transition--generic);
    transition-property: opacity;
}

.applicator--theme--main-header.applicator--main-search--active .main-media-banner---g::before
{
    opacity: .75;
}


/* ------------ Main Name, Description ------------ */
.applicator--theme--main-header.main-logo--disabled .main-name,
.applicator--theme--main-header.main-logo--disabled .main-description
{
    justify-content: center;
}

/* With Main Search */
.applicator--theme--main-header.applicator--main-search .main-info---cr
{
    padding-left: var(--elem-dimension--md);
}


/* ------------ Media Banner ------------ */
.applicator--theme--main-header .main-media-banner
{
    position: absolute;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}

.applicator--theme--main-header .main-media-banner---g
{
    padding-bottom: 0;
    
    height: 100%;
    
    filter: blur( 2px );
}


/* ------------ Sub-Nav ------------ */
.applicator--theme--main-header .main-nav---ct_cr > .menu > ul > li > .sub-nav-toggle .sub-nav-tog---b_l
{
    color: white;
}